@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  .close:hover, .close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
  }
  .raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  .up:hover, .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    color: #17181c;
  }

  .up2:hover, .up2:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    color: #ffffff;
  }

  .up:disabled, .up2:disabled{
    box-shadow: none;
    color: #3f3f3f;
    border-color: #3f3f3f;
    cursor: auto;
  }
  .slide:hover, .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .fill {
    --color: #a972cb;
    --hover: #cb72aa;
  }
  .pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }
  .close {
    --color: #ff7f82;
    --hover: #ffdc7f;
  }
  .raise {
    --color: #ffa260;
    --hover: #e5ff60;
  }
  .up {
    --color: #b9e3e2;
    --hover: #b9e3e2;
  }
  .up2 {
    --color: #ffffff;
    --hover: #fdd067;
  }
  .slide {
    --color: #8fc866;
    --hover: #66c887;
  }
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
    cursor: pointer;
  }
  body {
    color: #fff;
    background-color:#17181c;
    font: 300 1em 'Fira Sans', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-size: 12pt;
  }
  h1 {
    font-weight: 400;
  }
  code {
    color: #e4cb58;
    font: inherit;
  }


/*
    Styling for the index page
*/

body{
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;  
  overflow: hidden;
}

#newLobbyBtn{
  margin-top: 3vh;
  font-weight: 700;
}

#qrcode_title{
  font-weight: 300;
}

#qr_container{
    padding-top: 3vh;   
    height: 40vh; 
    width: 30%; 
    margin: auto;
    margin-bottom: 5vh;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#qrcode{
  opacity: 0;
    position: absolute;
    padding: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.qr_background{
    height: 220px;
    width: 220px;
    position: absolute;
    padding: 2em;
    left: 50%;
    background-color: #fedf92;
    transform: translateX(-50%);
}

.square1{
    margin: 0;
    height: 50%;
    width: 33%;
    background-color: #b9e3e2;
}

.square2{
    margin: 0;
    height: 50%;
    width: 33%;
    background-color: #f4b18e;
}

.empty{
    margin: 0;
    height: 50%;
    width: 33%;
}

@keyframes arrow_right_bounce {
  0% {
    right: 25%;
  }

  100%{
    right: 23%;
  }
}

@keyframes arrow_left_bounce {
  0% {
    left: 25%;
  }

  100%{
    left: 23%;
  }
}

.arrow{
  opacity: 0;
  position: fixed;
  height: 10em;
  width: 5em;
  top: 30%;
}

#arrow_left{
  left: 20%;
  transform: rotate(-90deg);
  animation: arrow_left_bounce 0.4s ease-out alternate infinite;
}

#arrow_right{
  right: 20%;
  transform: rotate(90deg);
  animation: arrow_right_bounce 0.4s ease-out alternate infinite;
}

#lobbyCode_container{
    height: 4em; 
    width: 60%; 
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#lobbyCode_container h4{
    width: 100%;
}

div #lobbyCode{
    margin: auto;
    color: #17181c;
    font-weight: 500;
    opacity: 0;
}

div #participants_amount{
    margin: auto;
    color: #17181c; 
    font-weight: 500;
    opacity: 0;
}

.lobbyCode_background{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 40%;
    background-color: #fedf92;
}

#done_button{
  margin-top: 2vh;
  font-weight: 700;
}



/*
    Styling for player page
*/



#video_container{
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  height: 95vh;

  opacity: 0;
}

#video_container_overlay{
  position: absolute;
  object-fit: cover;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  pointer-events: none;
  
  opacity: 0.5;
  transition: all 0.2s ease;
}

#video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#playButton{
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
    
    box-sizing: border-box;
    width: 0;
    height: 3.5em;
    border-style: solid;
    border-width: 1.75em 0 1.75em 2.8em;
    border-color: transparent transparent transparent #ffffff;
    cursor: pointer;
    will-change: border-width;
    transition: all 0.2s ease;
}

#playButton.paused {
  border-style: double;
  border-width: 0px 0 0px 2.8em;
}
#playButton:hover {
  cursor: pointer;
  border-color: transparent transparent transparent #c5c5c5;
}

#progress_bar{
  position: fixed;
  height: 1vh;
  width: 0%;
  bottom: 0;
  left: 0;

  transition: 0.1s ease-in-out;
  
  background-color: white; 
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
}

#modal{
  position: fixed;

  height: 80%;
  width: 60%;
  bottom: 10%;
  top: 10%;
  left: 20%;
  right: 20%;

  opacity: 0;
  pointer-events: none;

  transition: all 0.2s ease-out;

  background-color: white;
  border-radius: 0.5em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#modal.visible{
  opacity: 1;
  pointer-events: all;
  background-color: #8fabda;
}

#modal_title{
  font-family: 'Montserrat', sans-serif;

  width: 100%;
}

.choice_container{
  position: relative;
  height: 40%;
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice_graph_container{
  width: 50%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: solid #ffffff 2px;
}

.choice_graph{
  height: 0%;
  width: 30%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  /*transition: all 0.2s ease-out;*/

  background-color: #fdd067;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice_votes_amount{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  width: 100%;
}

.choice_subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: normal;
  width: 45%;
  opacity: 0;
  text-align: center;
  margin: 0.5em;

  transition: all 0.2s ease-out;
}

@keyframes PlusOne{
  0%{
    opacity: 0;
    transform: rotate(0deg);
    transform: translate(0px, 0px) scale(0.5);
  }

  50%{
    opacity: 1;
  }

  100%{
    transform: rotate(30deg);
    transform: translate(10px, -10px) scale(1);
  }
}

.plus_anim{
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 60%;

  animation: 500ms PlusOne;
}

#plus_anim_one, #plus_anim_two{
  position: absolute;
  top: 30%;
  left: 60%;

  opacity: 0;
}

#finish_voting_button{
}

#next_video_button{
  position: absolute;
  top: 20%;
}

#winning_choice{
  opacity: 0;
  font-weight: 300;
  width: 100%;
}

#count_votes_button{
  position: absolute;
  top: 20%;
}


/* Styling of voting page */

@keyframes HideWaitingOverlay {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(100%);
  }
}

@keyframes RevealWaitingOverlay {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(0%);
  }
}

#waiting_overlay_first{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #8fabda;
}

#waiting_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8fabda;

  animation: RevealWaitingOverlay 300ms ease-out forwards;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#waiting_overlay.hidden{
  animation: HideWaitingOverlay 300ms ease-out forwards;
}

#waiting_overlay_title, #waiting_overlay_title_voted{
  opacity: 0;
  width: 70%;
}

@keyframes AppearSmoothly {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

#waiting_overlay_tutorial_container{
  animation: AppearSmoothly forwards 2s ease-out;

  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

#waiting_overlay_tutorial_title{
  margin-bottom: 2em;
}

#waiting_overlay_tutorial, #waiting_overlay_tutorial_two{
  width: 70%;
  font-size: 16pt;
}

#waiting_overlay_tutorial_two{
  margin-top: 20vh;
}

#touch_pulse{
  border: solid rgb(255, 255, 255) 2px;
	border-radius: 50%;
	height: 6em;
	width: 6em;

  position: fixed;
  top: 80%;
  margin-top: -3em;
  left: 50%;
  margin-left: -3em;


	transform: scale(1);
	animation: pulse 1s infinite;
}

#touch_ring, #touch_ring_two{
  border: solid rgb(255, 255, 255) 2px;
	border-radius: 50%;
	height: 4em;
	width: 4em;

  position: fixed;
  top: 80%;
  margin-top: -2em;
  left: 50%;
  margin-left: -2em;


  box-shadow: 0 0 0 0 rgb(255, 255, 255);
	transform: scale(1);
}

#touch_ring_two{
  height: 2em;
	width: 2em;
  margin-top: -1em;
  margin-left: -1em;
}

@keyframes pulse {
	0% {
		transform: scale(0.80);
    opacity: 1;
	}

	100% {
		transform: scale(1);
    opacity: 0;
	}
}

#voting_container{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;

  overflow: hidden;
  

  background-color: #ea570dda;
}

#question{
  margin-bottom: 3em;
}

#choice_one_button_container, #choice_two_button_container{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;

  font-weight: 400;
  font-size: 8pt;

  border: solid white 2px;
  border-radius: 0.5em;

  width: 80%;
  height: 20%;
  margin-bottom: 2em;
}

#choice_one_button_container{
  background-color: #8fabda;

  transition: all 500ms ease-out;
}

#choice_two_button_container{
  background-color: #8fc866;
  transition: all 500ms ease-out;
}

#choice_one_button, #choice_two_button{
  width: 80%;
  height: fit-content;
  align-self: center;
}

