 .fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  .close:hover, .close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
  }
  .raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  .up:hover, .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    color: #17181c;
  }
  .up:disabled{
    box-shadow: none;
    color: #3f3f3f;
    border-color: #3f3f3f;
    cursor: auto;
  }
  .slide:hover, .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .fill {
    --color: #a972cb;
    --hover: #cb72aa;
  }
  .pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }
  .close {
    --color: #ff7f82;
    --hover: #ffdc7f;
  }
  .raise {
    --color: #ffa260;
    --hover: #e5ff60;
  }
  .up {
    --color: #b9e3e2;
    --hover: #b9e3e2;
  }
  .slide {
    --color: #8fc866;
    --hover: #66c887;
  }
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
    cursor: pointer;
  }
  body {
    color: #fff;
    background-color:#17181c;
    font: 300 1em 'Fira Sans', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-size: 12pt;
  }
  h1 {
    font-weight: 400;
  }
  code {
    color: #e4cb58;
    font: inherit;
  }


/*
    Styling for the index page
*/

body{
  flex-wrap: wrap;
  justify-content: center;
}

#newLobbyBtn{
  margin-top: 3vh;
}

#qr_container{
    padding-top: 3vh;   
    margin-bottom: 6000px;
    height: 40vh; 
    width: 30%; 
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#qrcode{
    position: absolute;
    padding: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.qr_background{
    height: 220px;
    width: 220px;
    position: absolute;
    padding: 2em;
    left: 50%;
    background-color: #fedf92;
    transform: translateX(-50%);
}

.square1{
    margin: 0;
    height: 50%;
    width: 33%;
    background-color: #b9e3e2;
}

.square2{
    margin: 0;
    height: 50%;
    width: 33%;
    background-color: #f4b18e;
}

.empty{
    margin: 0;
    height: 50%;
    width: 33%;
}

@keyframes arrow_right_bounce {
  0% {
    right: 25%;
  }

  100%{
    right: 23%;
  }
}

@keyframes arrow_left_bounce {
  0% {
    left: 25%;
  }

  100%{
    left: 23%;
  }
}

.arrow{
  opacity: 0;
  position: fixed;
  height: 10em;
  width: 5em;
  top: 30%;
}

#arrow_left{
  left: 20%;
  transform: rotate(-90deg);
  animation: arrow_left_bounce 0.4s ease-out alternate infinite;
}

#arrow_right{
  right: 20%;
  transform: rotate(90deg);
  animation: arrow_right_bounce 0.4s ease-out alternate infinite;
}

#lobbyCode_container{
    height: 4em; 
    width: 60%; 
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#lobbyCode_container h4{
    width: 100%;
}

div #lobbyCode{
    margin: auto;
    color: #17181c;
    font-weight: bold;
}

div #participants_amount{
    margin: auto;
    color: #17181c; 
    font-weight: bold;
}

.lobbyCode_background{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 40%;
    background-color: #fedf92;
}

/*
    Styling for player page
*/
#playButton{
    height: 50px;
    width: 50px;
}
#playButton:hover{
    cursor: pointer;
}