/*@import url("https://fonts.googleapis.com/css?familiy=EB+Garamond:regular");*/


body{
    background-color: #ffffff;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

}

ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: right;
            list-style: none;

		}

ul.a{
            margin-left: 20px;
            flex-wrap: nowrap;
            display: block;
            justify-content: flex-start;
            list-style: circle;

}

ul.g{
        flex-wrap: nowrap;
        text-align: left;
        list-style: circle;
        text-align: left;
}

details{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;

  }

  .grid-item {

    row-gap: 50px;
    column-gap: 100px;
  }

#nav{
    text-align: right;
    width: 100%;
    height: 100px;
}

nav{
    background-color: #f1d6e5;
}

.sitewidth{
    width: 70%;
    align-content: center;
}

a {
            font-family: proxima-nova, sans-serif;
            font-weight: 400;
            font-style: normal;
			display: inline-block;
			padding: 2em 0.4em;
			width: 140px;
			text-align: center;
            vertical-align: middle;
			color: grey;
			text-decoration: none;
            font-size:20px;

		}
b {
            font-family: proxima-nova, sans-serif;
            font-weight: 400;
            font-style: normal;
			display: inline;
			padding: 2em 0.4em;
			width: 140px;
			text-align: center;
            vertical-align: middle;
			color: grey;
			text-decoration: none;
            font-size:13px;
}

.horiz{
  display: inline;
}
a.border{
  border: none;
}

a.aktiv{
  font-weight: bold;

}

a:hover {
			background:#8caef4;

		}

p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;

}

h1{
    font-family: gill-sans-nova-inline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: left;
    color: grey;
    padding-top: 20px;
    margin-left: 200px;;
}

h2{
    font-size: 25pt;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: 200px;
}

h3{
    font-size: 20pt;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: 200px;
}

.logo{
    width: auto;
    margin-right: 800px;
}

.pics{
    width: 200px;
    height: 200px;
    justify-content: center;
}

.layouticons{
    width: 15px;;
    height: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline;
    justify-content: left;
}

#pics{
    margin-top: 70px;
    text-align: center;
    width:100%;
}

.item3{
    border: none;
    margin-left: 200px;
    margin-right: 200px;
}

.orange_beam{
    background-color: #E9560C;
    opacity: 30%;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 30px;
    vertical-align: middle;
}

.blue_beam{
    background-color: #68C2C0;
    opacity: 30%;
    height: 5px;
    width: 100%;

}

.gap{
    width: 1000px;
    justify-content: center;
}
.text_left{
    width: 1000px;
    border: none;
    margin-left: 20px;
    margin-top:50px;
    margin-right: 20px;
}


.right{
    float: right;
    margin-left: 10px;
}

.left{
    float: left;
    margin-right: 10px;
}

/*
.right2{
    float: right;
    margin-right: 530px;
}
*/

.quote{
    margin-left: 30px;
}

.teamslide{
    height: 630px;
    width:100%;
    justify-content: center;
    margin:30px 0px;
}


.icons{
    width: 250px;
   /* margin-left: 650px;*/
    text-align: center;
    margin-top: 20px;
    }*/


.bild{
	width:300px;
    height: 300px;
    margin-top: 30px;


}

/*dropdown style begin*/
.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {

 display: block;
padding: 2em 0.4em;
width: 140px;
text-align: center;
color: grey;
text-decoration: none;
margin-right: 1px;

}


.a:hover, .dropdown:hover .dropbtn {
    background-color: #8caef4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8caef4;
}

.dropdown:hover .dropdown-content {
    display: block;
}


* {box-sizing:border-box}
.mySlides {display: none}
img {vertical-align: middle;}



/*beginn slider*/


#slidewrapper {
	position: relative;
	height: 483px;
    width: 1074px;
    margin: auto;

}

.slideshow > * {
	background: #ccc;
	height: 100%;
	text-align: center;

}

.handleBtn {
	opacity: 0.7;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #aaa;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	padding:12px 12px;
	text-decoration:none;
	position: absolute;
	top: 45%;
}
.handleBtn:hover {
	background-color:#f6f6f6;
}

#prev {
	left: 1em;
}

#next {
	right: 1em;
}

.footer{

    display: flex;
	flex-wrap: wrap;
    justify-content: right;
    list-style: none;
}

.contact{
    width: 100%;
    display: inline;
    margin-bottom: 50px;
}

/*Style for form at contact page*/

#formy{
    font-weight:600;
    color:#3a3a3a;
    line-height:1.5;
    margin:0 auto}
@media screen and (max-width:768px){#formy{width:75%}}
@media screen and (min-width:769px){#formy{width:50%}}
@media screen and (max-width:414px){#formy{width:100%}}
#formy #result{
    width:100%;
    height:50px;
    border:1px solid #68C2C0;
    text-align:center;
    line-height:50px;
    color:#68C2C0;
    font-size:1.2em;
    border-radius:4px;
    display:none}
#formy #result svg{
    fill:#68C2C0;
    width:20px;
    margin-right:10px;
    position:relative;
    top:2px}
#formy #result.invalidRequest{
    border:1px solid #E9560C;
    color:#E9560C}
#formy #result,#formy .input-field{
    position:relative;
    margin-bottom:40px}
#formy .input-field i{
    position:absolute;
    left:0;top:0}
#formy .input-field i svg{
    width:25px;fill:#3a3a3a;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out}
#formy .input-field i svg.active{
    fill:#68C2C0}
#formy #result.invalidRequest svg,#formy .input-field i svg.invalid{
    fill:#E9560C}
#formy .input-field input{
    background:0 0;
    border:none;
    border-bottom:1px solid #3a3a3a;
    margin-left:3.2em;
    width:calc((100% - 3.2em) - 50px);
    padding-right:50px;
    position:relative;
    outline:none;
    line-height:2.4em}
#formy .input-field input:focus,#formy .input-field textarea:focus{
    border-color:#68C2C0;
    box-shadow:0 1px 0 0 #68C2C0}
#formy .input-field input.invalid{
    border-color:#E9560C;
    box-shadow:0 1px 0 0 #E9560C}
#formy .input-field textarea{
    border:none;
    border-bottom:1px solid #3a3a3a;
    margin-left:3.2em;
    width:calc(100% - 3.2em);
    outline:none;
    overflow:hidden;
    box-sizing:border-box;
    resize:none;
    line-height:normal;
    padding-top:15px;
    font-family:proxima-nova, sans-serif;}
#formy .input-field .lenghtCounter{
    position:absolute;
    right:0;
    top:0;
    font-weight:400;
    display:none}
#formy .input-field .lenghtCounter span{
    font-size:.8em}
#formy .input-field label{
    position:absolute;
    top:0;
    left:0;
    margin-left:2.35em;
    width:calc(100% - 2.35em);
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    cursor:text;}
#formy .input-field label.active{
    top:-17px;
    font-size:calc(100% - 2px);
    margin-left:2.65em;
    color:#68C2C0}
#formy .input-field label.invalid{
    color:#E9560C}
#formy .input-field label.filled:not(.active){
    font-size:calc(100% - 2px);
    margin-left:2.65em;
    top:-17px}
#formy .submit,#formy .submit svg{
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out}
#formy .submit{
    height:45px;
    background-color:#fff;
    border:1px solid #68C2C0;
    margin-left:3.2em;
    border-radius:4px;cursor:pointer;
    font-weight:600;
    color:#3a3a3a;
    text-align:left;
    padding-left:20px;
    width:120px;
    position:relative}
#formy .submit:hover{
    background-color:#68C2C0;
    color:#fff}
#formy .submit:hover svg{
    fill:#fff}
#formy .submit svg{
    fill:#68C2C0;
    width:20px;
    position:absolute;
    right:15px;
    top:11px}

/*Project page*/

.box{
    float: left;
    margin-right: 80px;
    margin-bottom: 50px;

}

.border{
    border: 1px solid;
    border-color:  #0072ce;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
