body {
    background-color: #f1d6e5;
}

.boardgame_container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 150px;
    margin-bottom: 10px;
}

.status_container{
    width: 230px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed; 
    right: 10px;
    bottom: 10px;
    color: black;
}


.player_status{
    width: 100%;
    height: auto;
    max-height: 80px;
    padding: 7px;
    font-size: 12pt;;
    border-top: 2px solid #f1d6e5;
}

.turn_button {
    width: 100px;
    padding: 1px;;
    text-decoration: none;
    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-radius: 5px;
    background-color: #f1d6e5;
    color: black;
}

.turn_button:hover {
    font-weight: bold;
    border:2px solid white;

}