body {
    background-color: #f1d6e5;
}

.boardgame_container{
    display: flex;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.status_container{
    width: 30%;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

#canvas{
    width: 70%;
    height: auto;
}


.player_status{
    width: 100%;
    height: auto;
    padding: 7px;
    margin: 1.5px 0;
    line-height: 1.8em;
}


body
{
    font-family: arial;
}

td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

.clickable
{
    cursor: pointer;
}

.margin_bottom
{
    margin-bottom: 5px;
    max-height: 80px;
    padding: 7px;
    font-size: 12pt;;
    border-top: 2px solid #f1d6e5;
}

.turn_button {
    width: 100px;
    padding: 1px;;
    text-decoration: none;
    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-radius: 5px;
    background-color: #f1d6e5;
    color: black;
    margin-top: 0.3em;
}

.turn_button:hover {
    font-weight: bold;
    border:2px solid white;
}