body {
    background-color: #f1d6e5;
    font-family: 'Roboto', sans-serif;
}

html{
    font-family: 'Roboto', sans-serif;
}

.boardgame_container{
    display: flex;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.status_container{
    width: 30%;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

#canvas{
    width: 70%;
    height: auto;
}


.player_status{
    width: 100%;
    height: auto;
    padding: 7px;
    margin: 1.5px 0;
    line-height: 1.8em;
}


body
{
    font-family: arial;
}

td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

.clickable
{
    cursor: pointer;
}

.margin_bottom
{
    margin-bottom: 5px;
    max-height: 80px;
    padding: 7px;
    font-size: 12pt;;
    border-top: 2px solid #f1d6e5;
}

/*.turn_button {
    width: 100px;
    padding: 1px;;
    text-decoration: none;
    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-radius: 5px;
    background-color: #f1d6e5;
    color: black;
    margin-top: 0.3em;
}*/

/*.turn_button:hover {
    font-weight: bold;
    border:2px solid white;
}*/

.turn_button{
}

.turn_button:disabled{
}

.modal-title, #player_amount_text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.modal-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#player_amount_input, #player_amount_text, #next_button, .nickname_input_label, .nickname_input, #done_button{
    width: 100%;
    margin-bottom: 0.2em;
}

.nickname_input{
    margin-bottom: 1em;
}

#next_button{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.player_status{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.player_spot_info{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 100%;
}

.player_nickname{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    align-items: center;
}

.turn_button_container{
    width: 100%;
    height: fit-content;
    align-items: center;
}

.turn_button:disabled{
    display: none;
}

 .fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  .close:hover, .close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
  }
  .raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  .up:hover, .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    color: #17181c;
  }
  .up:disabled{
    box-shadow: none;
    color: #3f3f3f;
    border-color: #3f3f3f;
    cursor: auto;
  }
  .slide:hover, .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .fill {
    --color: #a972cb;
    --hover: #cb72aa;
  }
  .pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }
  .close {
    --color: #ff7f82;
    --hover: #ffdc7f;
  }
  .raise {
    --color: #ffa260;
    --hover: #e5ff60;
  }
  .up {
    --color: #000000;
    --hover: #8fabda;
  }
  .slide {
    --color: #8fc866;
    --hover: #66c887;
  }
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #000000;
    cursor: pointer;
  }

  
  button {
      background: none;
      border: 2px solid;
      font: inherit;
      line-height: 1;
      padding: 0.5em 1em;
    }
    
#modal-content, #modal-title, #modal-body, #modal-footer{
    border: none;
}

